* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: black;
    color: white;
}
.spotify-palylist {
    padding: 15px;
}
.spotify-palylist h2 {
    padding: 15px;
}
.cardContainer {
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-top: 30px;
    height: 35vh;
    overflow: auto;
}
.card>* {
    padding-top: 10px;
}
.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    /* transition: all 0.5s; */
}
.card img {
    
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.card:hover{
    background-color: rgb(29, 28, 28);
    cursor: pointer;
    --a: 1;
}
.cardContainer img{
    height: 100px;
}
h3{
    margin-top: 20px;
}